* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: aqua;
}

section {
  /* border: 1px solid black; */
  height: 500px;
  width: 700px;
  margin-left: 27%;
  margin-top: 10%
}

#main-content {
  font-family: monospace;
}

.pict-fajar {
  /* border: 1px solid red; */
  /* height: 500px; */
  width: 300px;
  padding-top: 10px;
  padding-left: 10px;
  display: inline;
}
.pict-fajar img {
  border: 2px solid black;
  height: 400px ;
  width: 300px;
  /* display: inline; */
}

.intro-content {
  /* border: 1px solid green; */
  height: 400px;
  width: 350px;
  float: right;
}

.intro-content h2 {
  padding: 15px;
}

.intro-content p {
  padding: 40px;
  text-align: center;
}

.menu-content li {
  display: inline-block;
  font-size: 20px;
  padding-left: 70px;
  padding-top: 10px;
}

.menu-content a {
  color: black;
  text-decoration: none;
}

.menu-content a:hover {
  color: red;
}
