* {
  padding: 0px;
  margin: 0px;
}
header {
  /*border: 1px solid black;*/
  height: 100px;
  width: 100%;
  background-image: url('../images/toyota86.jpg');
  background-size: cover;
  z-index: 1;
  position: fixed;
  font-family: arial;
}
header div {
  display: inline;
}
.icon {
  /*border: 1px solid purple;*/
  height: 100px;
  width: 20%;
}
.icon img {
  height: 99px;
  opacity: 0.7;
  display: inline;
  float: left;
}
.judul h1 {
  text-align: center;
  padding-top: 20px;
  color: white;
  font-size: 50px;
}

nav {
  /*border: 1px solid black;*/
  height: 50px;
  padding-left: 5px;
  background-color: #c0c0c0;
  background-size: cover;
  padding-top: 100px;
  opacity: 0.8;
  font-family: arial;
}

.menu a{
  color: black;
  text-decoration: none;
}
.menu a:hover{
  color: white;
}

nav ul {
  padding-top: 15px;
}

nav li  {
  display: inline;
  font-size: 20px;
  padding-left: 10px;
}

section {
  /*border: 1px solid green;*/
  height: 800px;
  width: 100%;
  background-image: url('../images/toyota86.jpg');
  background-size: cover;
  padding-top: 10px;
  padding-bottom: 10px;
}
 #left-content {
  /*border: 1px solid blue;*/
  height: 95%;
  width: 45%;
  float: left;
  margin-left: 30px;
  background-color: grey;
  opacity: 0.9;
  font-family: arial;
  padding-top: 20px;
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
}
 #right-content {
  /*border: 1px solid red;*/
  height: 95%;
  width: 45%;
  float: right;
  margin-right: 30px;
  background-color: grey;
  opacity: 0.9;
  padding-top: 20px;
  font-family: arial;
  padding-left: 10px;
  padding-right: 10px;
}
#right-content img {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  padding-left: 30px;
}
#right-content .table {
  padding-top: 0px;
  text-align: center;
}
#right-content h1 {
  padding-top: 0px;
}
.table table{
  padding-top: 0px;
  opacity: 0.9;
}

table, th, td  {
  border: 1px solid black;
  height: 40px;
  width: 500px;
  padding: 0px;
}
table, th, tr {
  border: 1px solid black;
  height: 40px;
  width: 680px;
}

footer {
  /*border: 1px solid red;*/
  height: 50px;
  width: 100%;
  text-align: center;
  padding-top: 40px;
  background-image: url('../images/toyota86.jpg');
  background-size: cover;
  color: white;
}
